<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Series</title>

    <a href="{% url 'logout' %}" class="encabezado">Cerrar Sesión</a>
</head>
<body>
    

    
        <table border="2" align="center" >
                <tr>
                    <th class="Peli">PELÍCULAS</th>
                    
                </tr>
            </table >

        <table border="2" align="center">
            <thead>
                <tr>
                    <th class="encabezado">Nombre</th>
                    <th class="encabezado">Descripción</th>
                </tr>
            </table >
            {% for serie in series %}
            <table border="2" align="center">
                <tr>
                    <th><a href="{% url 'nameurl' serie_id=serie.id %}" >{{ serie.title }}</a></th>

                    
                    <th>{{ serie.descripcion }}</th>
                </tr>
            </table>
        

    {% endfor %}


</body>
</html>